@import './variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir';
  font-size: $text-medium;
  color: #414248;
}

:global(h1) {
  margin: 0;
  font-size: $text-xlarge;
  font-weight: $weight-regular;
  line-height: 1.4;
}

:global(h2) {
  margin: 0;
  font-size: $text-large;
  font-weight: $weight-regular;
  line-height: 1.4;
}

:global(input) {
  font-size: $text-small;
  border: 0;
  outline: 0;

  ::placeholder {
    color: $gray;
  }
}

:global(a) {
  color: $text-blue;
  text-decoration: none;

  &:hover {
    color: $text-dark-blue;
  }
}

:global(table) {
  border-collapse: collapse;
}
