$light-blue: #badfff;

$lighter-gray: #f4f6f5;
$light-gray: #dfdfdf;
$gray: #9b9b9b;

$text-blue: #2890ea;
$text-dark-blue: #1e6eb3;

$text-xsmall: 12px;
$text-small: 14px;
$text-medium: 16px;
$text-large: 20px;
$text-xlarge: 26px;

$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
