@import '../../variables';

.header {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: flex;
  align-items: center;
}

.logoLink {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.logo {
  height: 26px;
  width: 26px;
  margin-right: 10px;
}

.name {
  font-size: 24px;
}

.menuItem {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.searchInput {
  width: 310px;
  padding: 9px 13px;
  background-color: #e8f4fe;
  border-radius: 2px;
}
